# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore coverage reports
coverage/

# Ignore temporary files
*.tmp
*.swp